$primary-color:#9e94ff;
$backgroud-color:#e9e9e9;
$content-backgound-color:white;
$side-text-color:#666565;

// reset css
*{
    margin:0;
    padding: 0;
}
.main{
    width: 100%;
    background-color: $backgroud-color;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.sidebar{
    width: 15%;
    margin-left: 2%;
    margin-right: 20px;
    background-color: $content-backgound-color;
    padding-top: 10px;

}
.sidebar__main{
    padding-right: 20px;
    padding-left: 20px;
}
%buttonStyle1{

    &:hover{
        background-color: $primary-color;
    }
    & {
        background-color: $backgroud-color;
    }

    display: flex;
    flex-direction: row;
     // background-color: gray;
     margin-bottom: 20px;
    border-radius: 5px;
    height: 50px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    :first-child{
        display: flex;
        justify-content: center;
        width: 30%;
        i{
            font-size: 25px;
        }
    }
    :last-child{
        display: flex;
        justify-content: center;
        width: 70%;
        font-size: 15px;
        font-weight: 400;
        color: $side-text-color;
    }
}

.sidebar__dashboard, .sidebar__analyst, .sidebar__ecommerce{
    @extend %buttonStyle1;
}

.sidebar__title{
    font-size: 20px;
    margin-bottom: 20px;
}
.sidebar{
    .sidebar__ui-down,&__ui-grid{
        display: flex;
        flex-direction: row;
        height: 50px;
        color: $side-text-color;
        border-radius: 5px;
        i{
            font-size: 20px;
            margin: 10px;
            // color: $side-text-color;
            font-weight: 400;
        }
    }
    &__ui-down:hover,&__ui-grid:hover{
        background-color: $primary-color;
        cursor: pointer;
    } 
    &__ui-icon{
        display: flex;
        align-items: flex-start;
        font-size: 20px;
    }
    &__ui-title{
        width: 100%;
    }
    &_children{
        display: none;
    }
    .sidebar__ui-icon-down{
        display: none;
    }
}
.content{
    margin-top: 10px;
    height: 50px;
    display: flex;
    flex-direction: row;
    .container{
        width: 100%;
    }
    &__sidebar-top{
        width: 100%;
        height: 50px;
        background-color: $content-backgound-color;
        box-shadow: #666565;
    }
    &__sidebar-left{
       float: left;
       font-size: 30px;
        left:0;
        &-list{
            margin-left: 30px;
            i{
                margin-right: 30px;
            }
        }
        label{
            display: none;
        }

    }
    &__sidebar-right{
        display: flex;
        align-items: center;
        float: right;
        font-size: 20px;
        .notification_cart{
            margin-right: 30px;
        }
        .notification_bell,.notification_cart{
            font-size: 30px;
            margin-left:30px ;
            display: flex;
            flex-direction: column-reverse;
            &-number{
                position: relative;
                right: -20px;
                background-color: #9e94ff;
                color: #fff;
                border-radius: 50%;
                width: 16px;
                height: 16px;
                font-size: 14px;
                text-align: center;
                text-decoration: none;
            }
            i{
                font-size: 30px;
            }
        }
        .content__sidebar-user{
            display: flex;
            flex-direction: row;
            margin-right: 30px;
            margin-left: 30px;
            input,.user{
                display: none;
            }
            
         }  
        
        // right:0;
    }
}
.content__shop,.content__category,.content_search{
    display: none;
}
.content__checkout{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
    &-title{
        font-size: 30px;
        border-right: 2px solid black;
        padding: 10px 10px;
    }
    &__left{
        display: flex;
        flex-direction: row;
        align-items: center;
        
    }
    i{
        padding-left: 10px;
        color: #000;
    }
    &-step{
        padding-left: 10px;
        padding-right: 10px;
        color: #000;
    }
}
.content__setting{
    font-size: 20px;
}
.notification, .content{
    width: 80%;
}
.content__process{
    display: flex;
    flex-direction: row;
    // &-one{
    //     position: relative;
    //     left: 20%;
    // }
    // &-two{
    //     position: relative;
    //     left: 20%;
    // }
    // &-three{
    //     position: relative;
    //     left:45%
    // }
    &-one,&-two,&-three{
       
        height: 80px;
        width: 80px;
        border-radius: 50%;
        background-color:$primary-color;
        position: relative;
        left:20%;
        div{
            position: relative;
            top:10px;
            left:30px;
            font-size: 40px;
            color: white;
        }
    }
    &-step{
        position: relative;
        left: -80px;
        border-bottom: 5px solid $primary-color;
        height: 40px;
        width: 20%;
    }
}
.content__product{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 30px;
    .content__main__product{
        width: 80%; 

    }
    &-detail{
        width: 100%;
        background-color: #fff;
        margin-bottom: 10px;
        height: fit-content;
        display: flex;
        flex-direction: row;
        border-radius: 5px;

    }
    .content__product-image {
        width: 25%;
        height: auto;
        overflow: hidden;
    }
    .content__product-image:hover{
        transform:scale(0.8);
    }
    
    img{
        max-width: 100%;
        max-height: 100%;
    }
    .content__product-description{
        padding: 20px 0px 20px;
        width: 50%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #000;
        border-right: 2px solid black;
        .product-name{
            font-size: 20px;
        }
        .product_info{
            font-size: 15px;
            .product-stock,.product-quantity-id{
                padding-bottom: 20px;
                margin-top: 5px;
            }
        }
        .product-by{
            text-decoration: none;
            color: #000;
        }
        .product-stock,.product-discount{
           color: rgb(130, 196, 33); 
        }
        .product-quantity-id{
            display: flex;
            flex-direction:row;
            height: 20px;
            align-items: center;
            font-size: 15px;
            .product-quantity-decrease,.product-quantity-increase{
                display: block;
                // width: 10px;
                height: 100%;
                padding: 5px 10px 5px 10px;
                background-color: $primary-color;
                cursor: pointer;
            }
            .product-quantity-number{
                height: 100%;
                padding: 5px 20px 5px 20px;
                background-color: $backgroud-color;
            }
        }  
    }
    .content__product-action{
        width: 25%;
        &-list{
            display: flex;
            flex-direction: column;
            text-align: center;
            margin: 5px 5px 5px 5px;
            .content__product-amount{
                display: grid;
                grid-template-columns: 30% 30% 40%;
                grid-template-rows: 60% 40%;
            }
            .product-amount{
                grid-area: 1/3;
                justify-self: end;
                align-self: center;
                background-color: $primary-color;
                padding: 5px 10px 5px 10px;
                border-radius: 5px;
                color: white;
            }
            .product-price{
                grid-area: 2/2;
                justify-self: center;
            }
            .product-wishlist-head,.product-add-cart{
                display: none;
            }
            .product-remove,.product-free,.product_action{
                margin: 5px 0px 5px 0px;
                padding: 10px 10px 10px 10px;
                cursor: pointer;
                
            }
            .product-remove:hover,.product-free:hover,.product_action:hover{
                background-color: $backgroud-color;
            }
            
        }
    }
}
.content__cart{
    background-color: white;
    width: 20%;
    margin-left: 10px;
    height: fit-content;
    border-radius: 5px;
    .content__cart-list{
        display: flex;
        flex-direction: column;
        margin: 10px 10px 10px 20px;
        .content__cart-options{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        > *{
            margin-bottom: 10px;
            > *{
                margin-bottom: 10px;
            }
        }
        .content__cart-apply{
            text-decoration: none;
            color: #000;
        }
        .content__cart-price-details{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .content__cart-order{
            padding: 10px 10px 10px 10px;
            margin: 0px 20px 0px 20px;
            background-color: $primary-color;
            text-align: center;
            border-radius: 5px;
            cursor: pointer;
        }
        .content__cart-total-emi{
            text-decoration: none;
            color: #000;
        }
        .content__cart-total-bag,.content__cart-total-delivery{
            color: rgb(130, 196, 33);
        }
    }
}
.product-description{
    display: none;
}